:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-bg-light: #f9fafb;
  --color-bg-white: #fff;
  --color-border: #ccc;
  --color-border-focus: #3b82f6;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-danger: #e34f65;
  --color-danger-hover: #e41f49;
  --color-success: #44c973;
  --color-success-hover: #3da04e;
  --color-text-dark: #111827;
  --color-highlight: #6da1f5;
}
